<link rel="stylesheet" href="/stylesheet/enjoy.css">
<div class="container" style="width: 1004px;">
    <div class="top">
        <img src="/images/enjoy/1.gif" alt="">
    </div>
    <div class="center">
        <span><div href="javascript:;"><img src="/images/enjoy/2.png" class="can1">
            <p><a href="javascript:;">婚纱客片</a></p></div>
        </span>
        <span><div href="javascript:;"><img src="/images/enjoy/3.png" class="can2">
            <p><a href="javascript:;">写真客片</a></p></div></span>
    </div>
    <div class="bottom">
        <div class="image">
            <img src="/images/enjoy/4.gif" alt="">
        </div>
        <ul>
            {{#each images}}
                <li class="col-xs-4 col-sm-4 col-md-4">
                    <div>
                        <a href=""><img src="{{src}}"></a>
                    </div>
                    <a href=""> <p><span>{{name}}</span></p></a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

<script>
    $('.container .bottom li').each(function(){
        $(this).mouseenter(function(){
            $('.container .bottom li div').eq($(this).index()).velocity({'rotateZ':'-15deg'},500);
        });
        $(this).mouseleave(function(){
            $('.container .bottom li div').eq($(this).index()).velocity({'rotateZ':'0deg'},500);
        });
    })

    change('.can1');
    change('.can2');

    function change(can1){
        $(can1).mouseenter(function(){
            $(this).velocity({'rotateZ':'-15deg'},500);
        });
        $(can1).mouseleave(function(){
            $(this).velocity({'rotateZ':'0deg'},500);
        });
    }

</script>