<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
        这是header
    </header>
    {{{body}}}
    <footer>
        <div class="f-top">

        </div>
        <div class="f-bottom">

        </div>
    </footer>
  </body>
</html>
