<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/stylesheet/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheet/style.css' />
    <script src="js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheet/style.css' />
    <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
    <!--<script src="/js/bootstrap.min.js"></script>-->
</head>
<body>
<header>
    <div class="h-tu">
        <a href="http://weibo.com/p/1006062831754325/home?from=page_100606&mod=TAB" title="官方微博"><div class="h-weibo"></div>WEIBO</a>
        <a href="http://www.lytata.com/Index/WeiXin" title="关注微信"><div class="h-weixin"></div>WECHAT</a>
        <a href="http://shang.qq.com/open_webaio.html?sigt=ece5b67bb74630498a4c298248cf78ed46076ade329fdfb1319772e6db4b51f8d62712eac96b84f0d91755c5e3fc9d2e&sigu=eae1f41801109e5c55b848cd2a801450228c543c31a4861afb8d7f7f5b9499a9081dacef4f2f6693&tuin=800168025" title="QQ800168025"> <div class="h-qq"></div>QQ</a>

        <span class="h-tel">400-0520-356</span>
    </div>
</header>
<nav>
    <div class="nav">
        <div class="tata-logo">
            <img src="images/layout/logo.gif" alt="">
        </div>
        <div class="navlist">
            <ul>
                <li><a href="#">首页</a></li>
                <li id="l_pin"><a href="#">品牌故事</a>
                    <div id="pin_story">
                        <div><a href="#">关于我们</a></div>
                        <div><a href="#">联系我们</a></div>
                    </div>
                </li>
                <li id="l_new"><a href="#">最新活动</a>
                    <div id="new_activy">
                        <div><a href="#">优惠活动</a></div>
                        <div><a href="#">新闻公告</a></div>
                    </div>
                </li>
                <li><a href="#">最新作品</a></li>
                <li id="l_ke"><a href="#">客片欣赏</a>
                    <div id="kepian">
                        <div><a href="#">婚纱客片</a></div>
                        <div><a href="#">写真客片</a></div>
                        <div><a href="#">闺蜜照</a></div>
                    </div>
                </li>
                <li id="l_huan"><a href="#">环球巡拍</a>
                    <div id="huanqiu">
                        <div><a href="#">国内线</a></div>
                        <div><a href="#">海外线</a></div>
                    </div>
                </li>
                <li><a href="#">视频特辑</a></li>
                <li><a href="#">客户好评</a></li>
                <li><a href="#">帮助中心</a></li>
            </ul>
            <script>
                function showAndhide(outId,inId) {
                    $(outId).mouseenter(function(){
                        $(inId).show();
                    });
                    $(outId).mouseleave(function(){
                        $(inId).hide();
                    });
                }
                showAndhide('#l_pin','#pin_story');
                showAndhide('#l_new','#new_activy');
                showAndhide('#l_ke','#kepian');
                showAndhide('#l_huan','#huanqiu');
            </script>
        </div>
        <div class="bg"></div>
    </div>
</nav>


{{{body}}}
<footer>
    <div class="f-top">
        <div class="f-contant">
            <div class="b1 b"></div><div class="b2 b"></div><div class="b3 b"></div><div class="b4 b"></div>
            <a href="#top" class="gotop">
                <img src="/images/layout/Go_top.png" alt="">
            </a>
            <p class="f-tel gotop">
                <img src="images/layout/Section5_05.png" alt="">
            </p>
            <div class="f-content">
                <div class="left">
                    <img src="/images/layout/Gifts.png" alt="">
                </div>
                <div class="right">
                    <p class="tip">为了确保您及时收到信息，请务必保持手机畅通，我们将在第一时间与您联系！</p>
                    <from>
                        <p>姓名：<input type="text"></p>
                        <p>手机：<input type="password"></p>
                        <button></button>
                    </from>
                </div>
            </div>
        </div>
    </div>
    <div class="f-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 left">
                   <!-- 左边 -->
                    <img class="title" src="/images/layout/contact_us.png" alt="">
                    <p class="tel">400-520-356</p>
                    <div class="dizhi">
                        <p>旗舰店：洛阳市涧西区辽宁路华阳商铺2期115-116号</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总　店：洛阳市涧西区万达广场室外步行街3楼16-19号</p>
                    </div>
                    <div class="icon">
                        <a href="http://www.lytata.com/index/weixin" title="在线微信">
                            <img src="/images/layout/bottom_mid_weixin.png" alt="">
                        </a>
                        <a href="http://weibo.com/p/1006062831754325/home?from=page_100606&mod=TAB#place" title="官方微博">
                            <img src="/images/layout/bottom_mid_weibo.png" alt="">
                        </a>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=800168025&site=qq&menu=yes" title="在线QQ">
                            <img src="/images/layout/bottom_mid_qq.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 right">
                    <!-- 右边 -->
                    <img src="/images/layout/public_platform.png" alt="" class="title">
                    <div class="erweima">
                        <img src="/images/layout/codeweb.png" alt="">
                    </div>
                </div>
            </div>
            <p class="copyright">
                ©2014-2015
                <img src="/images/layout/Section6_05.gif" alt="">
                洛阳市涧西区他她摄影工作室 all rights reserved&nbsp;&nbsp;豫ICP备15018251号-1
            </p>
            <div class="fridendlink">
                友情链接：<a href="http://www.lytata.com/" title="洛阳婚纱摄影">洛阳婚纱摄影</a>
                <a href="http://baike.wed114.cn/" title="婚嫁百科">婚嫁百科</a>
                <a href="http://weibo.com/p/1006062831754325/home?from=page_100606&mod=TAB#place" title="洛阳他她摄影官方微博">洛阳他她摄影官方微博</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
