<link href="/stylesheet/video-js.css" rel="stylesheet" type="text/css">
<style>
    .container .logo{
        width:100%;
        margin:30px 0;
        text-align: center;
    }
    .container .logo img{
        height:51px;
    }
    .container .video{
        width: 100%;
        margin:30px 0;
    }
    .container .video img{
        height:52px;
    }
</style>
<div class="container">
    <div class="logo">
        <img src="/images/video/Section14.gif" alt="">
    </div>
    <div class="video">
        <img src="/images/video/Section14_01.gif" alt="">
    </div>
    <div class="allvideo">
        <ul>
            <li>
                <a href="#"><h3>2015洛阳他她摄影全新启幕</h3></a>
                <div>
                    <a href="http://player.youku.com/player.php/sid/XMTI3OTg3MjIwOA==/v.swf">
                        <img src="/images/video/videoButton.png" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="/js/video.js"></script>