<style>
    .container{
        width: 1004px;
    }
    div.top{
        text-align: center;
    }
    div.top img:nth-child(1){
        padding-top:30px;
    }
    ul{
        list-style-type:none;
        width: 1028px;
        height: 1004px;
        margin:40px auto;
    }
    li{
        height: 300px;
        width: 300px;
        float: left;
        border-radius: 30%;
        background: url('/images/works/ablmty.png') no-repeat;
        position: relative;
        margin-top:40px;
    }
    li:hover{

    }

    @-webkit-keyframes yundong{

    }
    li img{
        margin-left:10px;
        margin-top:23px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    li p{
        position: absolute;
        width: 140px;
        height: 60px;
        left: 50%;
        top: 50%;
        margin-left:-90px;
        margin-top:-30px;
        padding:5px;
        background-color: rgba(222,222,222,0.9);
    }
    li p span{
        display: block;
        width: 130px;
        height: 50px;
        text-align:center;
        line-height:50px;
        border:1px solid #000;
        font-size: 15px;
    }
</style>

<div class="container">
    <div class="top">
        <img src="/images/works/01.gif" alt=""><br>
        <img src="/images/works/02.gif" alt="">
    </div>
    <ul>
        {{#each images}}
            <li class="col-xs-4 col-sm-4 col-md-4">
               <img src="{{src}}">
               <p><span>{{name}}</span></p>
            </li>
        {{/each}}
    </ul>
</div>